<nav>
	<%= link_to "Back to Homepage", root_path, :class => 'btn btn-default' %>
</nav>

<article id="cart">
<% @cart.cart_items.each do |cart_item| %>
	<%= render partial: "cart_item", locals: { cart_item: cart_item } %>
<% end %>
</article>