<article id="index">
  
      <% @categories.each do |category| %>
      <h2><%= link_to category.name, category_path(category) %></h2>
        	<% @products = category.recent_3_products %>
        	<section>
						<%= render 'products/grid_view' %>
					</section>
      <% end %>
</article>