/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #00882c;
	background-image: url('//i.imgur.com/lt9BfMo.png?1')
}

body > header {
	background-color: #24bbbe;
	background-image: url('//i.imgur.com/8QnSkNY.png'), url('//i.imgur.com/T39ixDS.png'), url('//i.imgur.com/TWVQE8l.png');
	background-repeat: repeat, no-repeat;
	border-bottom: 4px solid #00882c;
	height: 175px;
	margin: 0;
	margin-bottom: 20px;
}

body > header > a {
	width: 500px;
	height: 175px;
	display: block;
}

body > header > a:hover {
	background-color: rgba(0,0,0,.05)
}

body .page-header {
	margin-top: 0;
	border-width: 3px;
	border-color: black;
}

body .page-header h1 {
	text-align: center;
	font-size: 35px;
	margin: 0;
}

body > nav, body >article {
	margin: auto;
	background-color: #f4d9aa;
	background-image: url("//i.imgur.com/ZKzxQCR.png");
	border: 2px solid rgba(0,0,0,0.25);
	border-radius: 25px;
}

body > nav {
	width: 70%;
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
}

span.price {
	font-size: 13pt;
	color: #AA0000
}

span.regular-price {
	text-decoration: line-through;
}

span.sale {
	font-weight: bold;
}

nav li {
	margin-bottom: 4px;
	display: inline;
}

nav li a {
	padding-left: 5px;
}

nav li:before {
	content: "|"
}

nav li:first-child:before {
	content: "";
}

body > article {
	width: 90%;
	padding: 25px;
	font-size: 20px;
	font-family: Verdana;
	overflow: auto;
	margin-bottom: 40px;
}

article h2 {
	border-bottom: 2px solid black;
	text-align: left;
	padding-left: 40px;
	clear: both;
	margin-top: 0;
	margin-bottom: 5px;
}

article header {
	margin: 10px;
	padding-left: 30px;
}

#index p.total_displayed {
	font-size: 11px;
	padding-left: 50px;
}

#index p.view_all {
	text-align: right;
	padding-right: 30px;
	clear: both;
}

.thumbnail {
	overflow: auto;
	border-radius: 10px;
  box-shadow: 10px 10px 15px #666;
  background-color: rgba(255,255,255,.66);
  height: 250px;
  max-height: 250px;
  overflow: hidden;
}

.thumbnail h3 {
	margin: 5px;
	text-align: center;
	max-height: 50px;
	overflow: hidden;
}

.thumbnail img.product {
	float: left;
	display: inline;
	margin: 2px;
	margin-right: 10px;
	border-radius: 8px;
}

.thumbnail .actions {
	text-align: center;
}

.new_item {
	width: 100px;
}

#reviews th {
	text-align: center;
}