/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #00882c;
	background-image: url('//i.imgur.com/lt9BfMo.png?1')
}

body > header {
	background-color: #24bbbe;
	background-image: url('//i.imgur.com/8QnSkNY.png'), url('//i.imgur.com/T39ixDS.png'), url('//i.imgur.com/TWVQE8l.png');
	background-repeat: repeat, no-repeat;
	border-bottom: 4px solid #00882c;
	height: 175px;
	margin: 0;
	margin-bottom: 20px;
}

body .page-header h1 {
	text-align: center;
	font-size: 35px;
	font-family: Impact;
}

article {
	width: 80%;
	margin: auto;
	background-color: #f4d9aa;
	padding: 25px;
	border-radius: 25px;
	border: 2px solid rgba(0,0,0,0.25);
	font-size: 20px;
	font-family: Impact;
}