/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#product h1 {
	text-align: center;
	margin: 0;
	border-bottom: 2px solid rgba(0,0,0,0.66);
	padding-bottom: 5px;
	margin-bottom: 15px;
}

a img.product {
	border: 2px solid transparent;
}

a img.product:hover {
	border: 2px solid black;
}

article#product img.product {
	box-shadow: 10px 10px 5px #888888;
}

form.product {
	width: 75%;
	margin: auto;
}

form.product .control-group {
	margin: 15px 0px; 
}

aside#product-image {
	float: left;
	margin: 20px;
	margin-top: 0;
	max-width: 40%;
	text-align: center;
}

aside#product-image img {
	max-width: 70%;
}

section#product-info {
	display: inline-block;
	width: 50%;
}

section#product-reviews {
	clear: both;
	border-top: 2px solid rgba(0,0,0,0.66);
}

#product-description {
	list-style: none;
	padding: 0;
}

#product-description li {
	margin-bottom: 10px;
}

#product-description h1 {
	font-size: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 30px;
	text-align: left;
}

#product-description p {
	font-size: 16px;
	margin: 0;
}

#new-review {
	float: right;
	margin-right: 50px;
	width: 40%;
}

#new-review h3 {
	padding-left: 40px;
}

#new-review #error_explanation {
	width: 350px;
}

section#reviews {
	width: 55%;
}

section#reviews p, form#new_review {
	font-size: 13pt;
}

section#reviews h3 {
	font-size: 28pt;
	border-bottom: 2px solid black;
	padding-left: 30px;
}

section.review {
	border: 1px solid white;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 30px;
}

nav#previous {
	clear: left;
	float: left;
}

nav#next {
	clear: right;
	float: right;
}