<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<article>
  <%= render 'grid_view' %>
  <br>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary new_item' %>
</article>



<br>
<% @products.each do |product| %>



<% end %>



















