<nav> <%= link_to "Back to Reviews", reviews_path, :class => 'btn btn-default' %></nav>

<article id="reviews-edit">
	<h1>Editing review</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @review %> |
	<%= link_to 'Back', reviews_path %>
</article>